@model stemmeApp.Models.InspectorModel
<link rel="stylesheet" href="~/Content/bootstrap5/bootstrap5.css">
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="b5container">
    <div class="b5row">
        <div class="b5col">
            Column
        </div>
        <div class="b5col">
            Column
        </div>
        <div class="b5col">
            Column
        </div>
    </div>
</div>
