@{
    ViewBag.Title = "University of South-Eastern Norway";
}
<h2>@ViewBag.Title.</h2>

<address>
    Raveien 215<br />
    3184 Borre<br />
    <a href="https://usn.no"> Usn.no</a>
</address>

<address>
   <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6808.711958689762!2d10.443799478214634!3d59.36791413659058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4646b45b9cc366b5%3A0x1d27d712f6135f08!2sUniversitetet%20i%20S%C3%B8r%C3%B8st-Norge%20(Campus%20Vestfold)!5e0!3m2!1sno!2sno!4v1621625355047!5m2!1sno!2sno
              " width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
</address>