@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>USN Election 2021 </h1>
    <p class="lead">It its time to vote on your favourite candidate. With this application you can nominate and or register as a candidate. The candidate with the most votes wins! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Vote now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register User</h2>
        <p>
            Anyone is able to create a user to vote on who they deserves to win the selected election. You're also able to register as a <b>Candite</b> if you were to apply for it.
        </p>
        <p><a class="btn btn-default" href="Account/Register">Register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Nominees</h2>
        <p>
            Here you will be able to view all the current nominees for the current election.
        </p>
        <p><a class="btn btn-default" href="Home/Nominees">View here &raquo;</a></p>
    </div>
    
</div>