@using System.Configuration
@using Microsoft.AspNet.Identity
@model List<stemmeApp.Models.VoteModel>

@{
    ViewBag.Title = "Vote";
}

<h2>Vote</h2>

@foreach (var item in Model) {
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" img src="~/@item.picture" width="100" height="100" />
        <div class="card-body">
            <p class="card-text">@item.username @item.info</p>
        </div>
        
        <form method="post" action="@Url.Action("Vote", "Home")">
            <input type="text" name="name" value="@item.username" hidden />
            <input class="btn btn-warning" name="submit" type="submit" value="Withdraw as candidate" onclick="return confirm('Are you sure you want to remove yourself as candidate?')" />
        </form>
        </div>
    
    {
    }

}

